@import url('https://fonts.googleapis.com/css2?family=Nanum+Myeongjo:wght@400;700;800&display=swap');

body{
    margin:0;
    padding:0;
}
.left{
    background: blue;
    min-height: 100vh;
    width: 50%;
    float:left;
    z-index: 1;
    margin: 0;
}
p{
    font-size: 50px;
}
#nav{
    z-index: 30; /* Just always 2, so its in front of the map */
    opacity: 0;
    pointer-events: none; /* none means clicks just go through it */
    transition: opacity 1s;
    background-color: black;
    color: white;
    height: 100vh;
    position: fixed;
    overflow: auto;
    width: 100vw;
}
#hidex{
    position: fixed;
    top: 20px;
    z-index: 51;
    right: 20px;
}
#hidex a{
    color: white;
    text-decoration: none;
}
#openbtn{
    color: white;
    text-decoration: none;
}
.opennava{
    position: fixed;
    z-index: 2;
    top: 0px;
    right: 0px;
    padding: 20px;
    background: black;
}
.list{
    padding: 50px 0;
}
ul{
    margin-top: 10px;
    padding: 0;
    list-style-type: none;
    font-size: 32px;
    position: relative;
}
ul li{
    font-size: 48px;
    margin-left: 200px;
    font-family: 'Nanum Myeongjo', serif;
    font-weight: 400;
}
ul li:first-child{
    position: absolute;
    margin-left: 50px;
    font-weight: 800;
}
.right{
    height:100vh;
    right:0;
    top:0;
    position: fixed;
    width: 50%;
    z-index: 1;

}
#map {
    position: absolute;
    top: 0;
    bottom: 0;
    right:0;
    width: 100%;
}
