
body{
    background-color: #ffffff;
}
ul{

}
ul li{
    list-style: none;
    font-size: 14px;
}
ul li.titlename{
    font-size: 24px;
}

#search{
    border:none;
    font-size: 48px;
    color:black;
    padding: 10px 0;
    margin: 10 20px;
    background: none;
    border-bottom: black 2px solid;
}
::placeholder{
    color:black;
}

input:focus, textarea:focus {
    outline: none;
}