
body{
    background-color: #ffffff;
    font-family: 'Libre Baskerville', serif;
}
a{
    text-decoration: none;
    color:black;
}
div{
    width: 1000px;
}
a:hover{
    color:rgba(0, 0, 0, 0.5);
}
ul{
    margin:10px;
    width: 1440px;
    padding:0px;
}
li.big{
    height: 300px;
}
ul li{
    box-shadow: 0 0px 0px 0 rgba(0,0,0,1), 0 -2px 0px 0 rgba(0,0,0,1) ;
    float: left;
    border: rgba(0,0,0,0) solid 20px outset;
    padding: 20px 0;
    font-size:14px;
    margin: 10px;
    min-height: 120px;
    width: 460px;
    list-style: none;
}
ul li ul{
    margin:0px;
    height: auto;
    width: auto;
    padding:0px;
}
ul li ul li{
    box-shadow: none;
    border-radius: 0;
    padding: 0px;
    margin: 0px;
    border: none;
    min-height: 0px;
    margin-bottom: 0px;
    margin-top: 0px;
}
h4{
    font-size: 24px;
    margin:0px;
    font-weight: 400;

}
div{
    border:none;
    font-size: 48px;
    color:black;
    padding: 10px 0;
    width: 460px;
    font-family: inherit;
    float: left;
    margin: 10px 0px 10px 20px;
    background: none;
    border-bottom: black 2px solid;
}
.middle{
    text-align: center;
}
.right{
    text-align: right;
}
#search{
    border:none;
    font-size: 48px;
    color:black;
    float: left;
    padding: 10px 0;
    width: 460px;
    font-family: inherit;
    margin: 10px 0px 10px 20px;
    background: none;
    border-bottom: black 2px solid;
}
::placeholder{
    color: rgba(0, 0, 0, 0.25);
}

input:focus, textarea:focus {
    outline: none;
}