/* ----------------------------------------------------------------
[Table of contents]
01. Google Fonts
02. Default styles
03. Sidebar styles
04. Content styles
05. Slider styles
06. Heading styles
07. Blog & Post styles
08. Project styles
09. Footer styles
10. Contact styles
11. Services styles
12. Navigation styles
13. Team styles
14. Section styles
15. Animated Headline
16. Skills Progress Bar 
------------------------------------------------------------------- */

/*** 01. Google Fonts ***/

@import url('https://fonts.googleapis.com/css?family=Roboto:400,700');

/*** 02. Default styles ***/

html,
body {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    font-smoothing: antialiased;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    line-height: 1.75em;
    font-weight: 400;
    color: #888;
}

